p {
    margin-left: 865px;
    margin-top: 450px;
    margin-right: 960px;
    border: 10px;       
    border-style: solid;
    border-color: dimgray;
    color: red;
    background-color: darkred;
    
}

body {
    background-color: black;
}